@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,200;1,300&family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F2F1;
}

h1, h2 {
  font-family: 'Newsreader', 'Times New Roman', serif;
  font-style: italic;
  color: #BC4C2A;
}
